---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <div class="bg-white py-8 sm:py-12 lg:py-16">
    <div
      class="mx-auto max-w-4xl px-6 lg:px-8 flex flex-col justify-center items-center"
    >
      <div>
        <img
          class="h-120 w-200 rounded-xl mb-8"
          src="/src/assets/images/collectetri.jpg"
          alt=""
        />
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2
            class="text-3xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-4xl"
          >
            {post.data.title}
          </h2>
          <p
            class="text-md font-semibold tracking-tight text-pretty text-gray-500 mt-2"
          >
            {post.data.date} · {post.data.author}
          </p>
        </div>
        <article class="mt-6 prose prose-lg max-w-none">
          <Content />
        </article>
      </div>
    </div>
  </div>
</Layout>
